@model Guest_book.Models.Message

@{
	ViewData["Title"] = "Delete";
}

<header id="headerHome">
	<div>
		<a class="navbar-brand" asp-area="" asp-controller="Messages" asp-action="Index">Главная</a>
	</div>
	<div>
		<h1>@Model.user.FirstName @Model.user.LastName</h1>
		<a asp-controller="Account" asp-action="Login">Выйти</a>
	</div>
</header>

<section id="DelPage">
	<h3>Вы действительно хотите удалить этот отзыв?</h3>
	<div>
		<form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Удалить"  />
			<a asp-action="Edit" asp-route-id="@Model.Id">Назад</a>
		</form>
	</div>
</section>

